@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.btn {
    font-family: 'Press Start 2P', cursive;
}

.btn.yourClass {
    font-size: 1rem;
}

.btn.yourClassSecond {
    font-size: 0.7rem;
}


.Head {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: white;
}

.HeadWP {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.cardBack {
    background-color: rgba(154, 153, 153, 0.2);
    max-height: 265px;
    max-width: 574px;
}

.cardBackWP {
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 265px;
    max-width: 900px;
}

.cardBackFight {
    background-color: rgba(154, 153, 153, 0.2);
    max-height: 265px;
    max-width: 400px;
}

.HeadBlack {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: black;
}

.Text {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 2rem;
}

.TextSecond {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.dropdown-item-text {
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    text-decoration: none;
}

.TextThird {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1px;
}

.TextBlack {
    font-family: 'VT323', monospace;
    color: black;
    font-size: 2rem;
}

.VillageBox {
    background-color: rgba(154, 153, 153, 0.2);
}

.Error {
    font-family: 'VT323', monospace;
    color: tomato;
    font-size: 2rem;
}

.InventoryBack {
    background-image: url("https://mineblocks.com/1/wiki/images/6/67/Cobblestone.png");
}

.ErrorSecond {
    font-family: 'VT323', monospace;
    color: tomato;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1px;
}

.BossFightBack {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/92729171389301734/D0836DBFC2AF605ECCA0519F1AA727E1CE3E187B/");
    background-size: 100%;
}

.DeathBack {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690261223169/43E061E535288BB01C1406719A7F2BE6A4D37B58/");
    background-size: 100%;
}

.Witch {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690261757492/9A537CC70AC29510320E20BA62D49AE7A58398A0/");
    background-size: 100%;
}

.WinBack {
    background-size: 100%;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/865107698018053144/37EC8825453F86AB5E75191399EC66D91BD73BF3/");
}

.WinWarn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 15rem;
    color: #ffe0de;
    text-shadow: #b7b3b3 0 0 7px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.DeathWarn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 15rem;
    color: #701001;
    text-shadow: #e59292 0 0 7px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.Death {
    font-family: 'VT323', monospace;
    color: #701001;
}

.Forest {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690274632772/7538841421DEA4DA2E4F1DFE1EA1D1C2D0C0632E/");
    background-size: 100%;
    background-attachment:fixed;
}

.Village {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100604131775929213/74C20EBDD0AC15A90189C1D2E2AA31032130F962/");
    background-size: 100%;
}

.Ruins {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/92729171389302485/1654A645DFA4D48AB6C33E3BD71C257148D5A627/");
    background-size: 100%;
}

.Cave {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/930424264962600699/B7695A3432262CEE532F84E928E032FB53599D62/");
    background-size: 100%;
}

.Fight {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690261121834/5F7F0700150405A2DC7DD90E0DBB6F0A08A4117E/");
    background-size: 100%;
}