@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

.Head {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: white;
}

.cardBack {
    background-color: rgba(154, 153, 153, 0.2);
}

.HeadBlack {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: black;
}

.Text {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 2rem;
}

.TextSecond {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
.dropdown-item-text {
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    text-decoration: none;
}

.TextThird {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1px;
}

.TextBlack {
    font-family: 'VT323', monospace;
    color: black;
    font-size: 2rem;
}

.VillageBox {
    background-color: rgba(154, 153, 153, 0.2);
}

.Error {
    font-family: 'VT323', monospace;
    color: tomato;
    font-size: 2rem;
}

.Forest {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603690274632772/7538841421DEA4DA2E4F1DFE1EA1D1C2D0C0632E/");
    background-size: 100%;
}

.Village {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100604131775929213/74C20EBDD0AC15A90189C1D2E2AA31032130F962/");
    background-size: 100%;
}